<!DOCTYPE html>
<html>
<head>
    <title><%= nom %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1> <%= nom %></h1>
<p>Welcome to <%= type %> <%= nom %> at Aubenas</p>
</body>
</html>